.amaz-header{
  position: relative;
  width: 100%;
  height: 52px;
  box-shadow: 0 0 10px rgb(51 93 182 / 20%);
  z-index: 99;
  background: #fff;
  .ant-menu {
    margin: 0 auto;
    display: inline-block;
    border: 0!important;
    height: 52px;
    font-size: 16px;
  }
  &__left{
    left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 52px;
  }
  &__middle{
    width: 100%;
    height: 52px;
    text-align: center;
  }
  &__right{
    right: 12px;
    line-height: 52px;
    text-align: right;
    display: flex;
    position: absolute;
    top: 0;
    height: 52px;
  }
  &__text{
    margin-left: 6px;
  }
}
